<div class="flex flex-col h-screen justify-between">

<div class="navigation">
  <ul class="flex justify-between blue-btn items-center">
    <li class="w-10"><%= link_to image_tag('backarrow.png', alt: 'Back'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link' %></li>
    <h2>Categories</h2>
    <li><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>
  </ul>
</div>

<div>
  <% @categories.each do |category| %>
    <%= link_to category do %>
      <div class="w-full p-3 rounded flex justify-between card-item">
        <div class="category-left">
          <% if category.icon.present? %>
          <div class="card-img"><%= image_tag category.icon, alt: category.name, class: 'category-icon' %></div>
          <% end %>
          </div>
          <div class="category-center">
          <h3><%= category.name %></h3>
          <p><%= category.created_at %></p>
        </div>
        <p>$ <%= category.purchases.sum(:amount) %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="new-category text-center">
  <div class="new-category-inner">
    <%= link_to "Add a New Category", new_category_path, class: "p-2 py-4 m-4 text-lg w-full border-2 green-btn rounded block" %>
  </div>
</div>

</div>